@use "sass:math";

@mixin body-styles {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.5;
  font-weight: 400;
}

@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

@mixin font-size($sizeValue: 16) {
  font-size: $sizeValue + px;
  font-size: math.div($sizeValue, 10) + rem;
}
